:root{
    --negro: #000000;
    --azulOscuro: #001449;
    --azulNormal: #012677;
    --azulClaro: #005bc5;
    --celeste: #00b4fc;
    --cyan: #17f9ff;
    --amarillo:#FFFF00;
    --blanco: #ffffff;
}
/* Paleta de colores a utilizar aun no definidos 100% */
.negro{color: #000000}
.azulOscuro{color: #001449; }
.azulNormal {color: #012677; }
.azulClaro {color: #005bc5; }
.celeste {color: #00b4fc; }
.cyan {color: #17f9ff; }
.amarillo{color:#FFFF00;}
.blanco{color: #ffffff;}

/* <uniquifier>: Use a unique and descriptive class name (regular,bold) */
/* <weight>: Use a value from 200 to 1000(400,700) */
.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
.nunito-sans-bold {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }

.andika-regular {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .andika-bold {
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
html{
    font-size: 62.5%;
    box-sizing: border-box; /* hack para box model */
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-size: 16px; /* Con esto logramos que 1rem = 10px*/
    background-image: linear-gradient(to bottom right, var(--celeste) 25%, var(--cyan) 100%);
}

/* tipografia de los heading */
h1{
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 3.8rem;
  text-align: center;
}
h2{
  font-family: "Andika", sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
  text-align: center;
}
h3, p{
  font-family: "Andika", sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

.nav-bg{
  background-color: var(--azulOscuro);
}

.contenedor-centrado{
  width: 75%;
  margin: 0 auto;
}
.navegacion-principal{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  }
@media (min-width: 768px) {
  .navegacion-principal{
    flex-direction: row;
    justify-content: space-between;
  }
}

.navegacion-principal a{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
}

.navegacion-principal a:hover{
  background-color: var(--amarillo);
  font-weight: bold;
  color: var(--negro);
}

.hero{
  background-image: url(../img/cibersecurity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  position: relative;
  padding: 2rem;
  margin-bottom: 5rem;
}

.contenido-hero{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ubicacion{
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.contenido-hero h2 , .ubicacion p{
  color: var(--blanco);
  margin: 0;
}

.boton{
  /* background-color: var(--celeste); */
  background-color: var(--cyan);
  padding: 1rem 3rem;
  margin-top: 3rem;
  border-radius: 1rem;
  text-decoration: none;
  color: var(--blanco);
  font-family: "Andika", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  width: 75%;
  text-align: center;
  border: 0.1rem solid #000000;
  text-shadow: 2px 2px 2px #000000;
}

@media (min-width: 768px) {
  .boton{
    width: auto;
  }

  .servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.sombra-fondoBlanco{
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}